@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

*::selection {
	background-color: #333;
	color: #fff;
}

html {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	color: #000;
	font-size: 62.5%;
}


body{
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	text-align: center;
	min-height: 100vh;

}




.container {
	background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.2));
	backdrop-filter: blur(3rem);	

	box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
	padding: 3rem;
	border-radius: 1rem;
	width: auto;
	max-width: 90rem;
	animation: down 1s cubic-bezier(.17,.67,.83,.67) .2s backwards; 
	position: relative;

}

.container::after {
	content: "";
	height: 1rem;
	width: 120%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 10rem;
	background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
	animation: loadQuote 15s linear infinite;
}

.quote {
	font-size: 3.5rem;
	
}

.long-quote {
	font-size: 2.5rem;
	line-height: 1;

}

.quote__fa {
	font-size: 6.4rem;
}

.author__name {
	font-style: italic;
	font-size: 3.2rem;
	font-weight: 400;
	margin-top: 1.5rem;
	display: inline-block;
	
	text-align: center;
}



.button {
	display: flex;
	align-items: center;
}

.button > * {
	font-size: 2rem;
	box-shadow: 0 1.5rem 1.5rem -1rem rgba(0, 0, 0, 0.2);
	color: #fff;
	background-color: #333;
	height: 4rem;
	
	cursor: pointer;
	padding: 1rem 3rem;
	border: none;
	outline: none;
	border-radius: 1rem;
	text-transform: uppercase;
	transition: all .2s;

	animation: popup .5s 1.2s linear backwards;
}

.button > *:hover {
	box-shadow: 0 1.8rem 1.5rem rgba(0,0,0,.2);
	transform: translateY(-0.2rem);
	/*filter: brightness(110%);*/
}

.button > *:active {
	transform: translateY(0);
	box-shadow: 0 1rem 1rem rgba(0,0,0,.2)
}

.button__twitter:hover {
	color: #38a1f3;
}

.button__twitter {
	margin-left: 1rem;
	margin-right: auto;
}

.button__ig:hover {
	color: #8a3ab9;
}

/*.button__new-quote {
	background-color: #ff951f;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50% );
	background-size: 210%;
	display: inline-block;


         
}

.button__new-quote:hover {
	background-position: 100%;
	color: #ff951f;
}

.button__new-quote:active {
	background-color: #ff951f;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50% );
	background-size: 220%;
}*/
/* Media manager */

@media only screen and (max-width: 56.25em){
	.container {
		margin: auto 1rem;
		font-size: 56.25%;
	}

	.quote {
		font-size: 2.5rem;
	}

	.author__name {
		font-size: 1.5rem;
	}


	.button__new-quote {
		font-size: 1.25rem;
	}
}

@media only screen and (max-width: 31.25em) {

	.container {
		font-size: 50%;
	} 

	.button__new-quote {
		padding: 1rem;
	}
}
/* Animations */

@keyframes down {
	0% {
		opacity: 0;
		transform: translateY(-30rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}




@keyframes popup {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes loadQuote {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}


.btn-grad {
	background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
	margin: 1rem;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 2rem #eee;
	border-radius: 1rem;
	display: block;
	}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}
